@import "../../../assets/less/_variables";

.footer-section{
    text-align: center;
    padding: 15px;
    background: @light-bg;
    height: 56px;
    color: #767B89;
    font-size: @font-size-base;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}